{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<!-- Primary Meta Tags -->
<title>Nze Chidi Duru, OON — Official Portfolio | Politician, Lawyer & Business Leader</title>
<meta name="title" content="Nze Chidi Duru, OON — Official Portfolio | Politician, Lawyer & Business Leader">
<meta name="description" content="Official portfolio of Nze Chidi Duru, OON — Lawyer, Politician, and Business Leader. Former Member of the House of Representatives (1999–2007) and Deputy National Organizing Secretary of the APC. Learn about his leadership, contributions, and community impact.">
<meta name="keywords" content="Nze Chidi Duru, Chidi Duru, Nigerian Politician, APC Leaders, Aguata Federal Constituency, Pension Reforms Nigeria, Grand Towers, Anambra Politician, Acharugo Foundation, Nze Duru Profile">
<meta name="author" content="Nze Chidi Duru, OON">
<meta name="robots" content="index, follow">
<meta name="language" content="English">
<meta name="revisit-after" content="7 days">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.nzechididuru.com/">
<meta property="og:title" content="Nze Chidi Duru, OON — Politician, Lawyer & Business Leader">
<meta property="og:description" content="Discover the journey of Nze Chidi Duru, OON — Former House of Representatives Member and Deputy National Organizing Secretary of the APC. Explore his vision, leadership, and impact.">
<meta property="og:image" content="https://www.nzechididuru.com/images/nze-chidi-duru.jpg">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.nzechididuru.com/">
<meta property="twitter:title" content="Nze Chidi Duru, OON — Politician, Lawyer & Business Leader">
<meta property="twitter:description" content="Official profile of Nze Chidi Duru — Nigerian Politician, Lawyer, and Business Leader. Former Member of House of Representatives, Deputy National Organizing Secretary, APC.">
<meta property="twitter:image" content="https://www.nzechididuru.com/images/nze-chidi-duru.jpg">
<link rel="icon" type="image/png" href="{% static 'images/user/Nze Chidi Duru-07.jpg' %}">



<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
    <title>NZE CHIDI DURU, OON - Personal Portfolio</title>



    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/odometer.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animateText.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- Font -->
    <link rel="stylesheet" href="{% static 'font/fonts.css' %}">

    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'icons/icomoon/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'images/user/Nze Chidi Duru-02.jpg' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/user/Nze Chidi Duru-02.jpg' %}">

    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Nze Chidi Duru",
        "alternateName": "Chidi Duru",
        "birthDate": "1966-11-12",
        "jobTitle": "Politician, Lawyer, Businessman",
        "affiliation": {
            "@type": "Organization",
            "name": "All Progressives Congress (APC)"
        },
        "alumniOf": [
            "Ambrose Alli University, Edo State",
            "Lagos Business School",
            "Harvard University"
        ],
        "image": "https://www.nzechididuru.com/images/user/",
        "url": "https://www.nzechididuru.com/",
        "sameAs": [
            "https://web.facebook.com/profile.php?id=61553848331007",
            "https://twitter.com/NzeChidiDuru",
            "https://linkedin.com/in/NzeChidiDuru"
        ]
        }
    </script>

</head>

<body>
    <!-- wrapper -->
    <div id="wrapper" class="counter-scroll bg_dark">

        <div class="body-overlay d-block">
            <div class="bg-shape"></div>
        </div>

        <header class="header header-fixed style-1">
            <div class="tf-container w-6">
                <div class="header-sidebar style-1">
                    <div class="box">
                        <div class="avatar">
                            <img src="{% static 'images/user/Nze Chidi Duru-07.jpg' %}" width="68" height="68" alt="avatar">
                        </div>
                        <div class="info">
                            <h6 class="font-4 mb_4">Nze Chidi Duru</h6>
                            <!-- <div class="text-label text-uppercase fw-6 text_primary-color font-3  letter-spacing-1">Politician</div> -->
                        </div>
                    </div>
                    <ul class="nav-menu style-1 lg-hide">
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Home</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Education</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">About</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Awards</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Impacts</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Contact</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'gallery' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Gallery</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'blog' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Blog</span>
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex gap_12 align-items-center">
                        <a href="#about" class="tf-btn style-1 animate-hover-btn">
                            <span>
                                Full Profile
                            </span>
                        </a>
                        <a class="menu-button show-menu-mobile  d-lg-none link-no-action" data-target="#menu-1"
                            href="#"><i class="icon-CirclesFour"></i></a>
                    </div>
                </div>
            </div>
            <div class="popup-menu-mobile" id="menu-1">
                <ul class="nav-menu style-3 ">
                    <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Home</span>
                            </a>
                    </li>
                    <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Education</span>
                            </a>
                    </li>
                    <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">About</span>
                            </a>
                    </li>
                    <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Awards</span>
                            </a>
                    </li>
                    <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Impacts</span>
                            </a>
                    </li>
                    <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Contact</span>
                            </a>
                        </li>
                    <li class="text-menu text_white">
                        <a href="{% url 'gallery' %}"
                            class="link text-button font-3 fw-6">
                            <span class="text">Gallery</span>
                        </a>
                    </li>
                    <li class="text-menu text_white">
                            <a href="{% url 'blog' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Blog</span>
                            </a>
                        </li>
                </ul>
            </div>
        </header>

        <header class="header">
            <div class="tf-container w-6">
                <div class="header-sidebar style-1">
                    <div class="box">
                        <div class="avatar">
                            <img src="{% static 'images/user/Nze Chidi Duru-02.jpg' %}" width="68" height="68" alt="avatar">
                        </div>
                        <div class="info">
                            <h6 class="font-4 mb_4">Nze Chidi Duru</h6>
                            <!-- <div class="text-label text-uppercase fw-6 text_primary-color font-3  letter-spacing-1">Politician</div> -->
                        </div>
                    </div>
                    <ul class="nav-menu style-1 lg-hide">
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Home</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Education</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">About</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Awards</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Impacts</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Contact</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'gallery' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Gallery</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'blog' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Blog</span>
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex gap_12 align-items-center">
                        <a href="#about" class="tf-btn style-1 animate-hover-btn">
                            <span>
                                Full Profile
                            </span>
                        </a>
                        <a class="menu-button show-menu-mobile  d-lg-none link-no-action" data-target="#menu-2"
                            href="#"><i class="icon-CirclesFour"></i></a>
                    </div>
                </div>
            </div>
            <div class="popup-menu-mobile" id="menu-2">
                <ul class="nav-menu style-3 ">
                    <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Home</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Education</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">About</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Awards</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Impacts</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'index' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Contact</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'gallery' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Gallery</span>
                            </a>
                        </li>
                        <li class="text-menu text_white">
                            <a href="{% url 'blog' %}"
                                class="link text-button font-3 fw-6">
                                <span class="text">Blog</span>
                            </a>
                        </li>
                </ul>
            </div>
        </header>

        <div class="main-content style-fullwidth section-onepage">

            <div class="tf-container w-6">


                <!-- section-portfolio-->
                <div id="portfolio" class="section-portfolio style-1 spacing-5 section">
                    <div class="heading-section mb_42">
                        <div class="tag-heading text-uppercase text-label font-3 letter-spacing-1 mb_34">
                            Gallery
                        </div>
                        <h3 class="text_white fw-5  split-text effect-blur-fade">Full Gallery</h3>
                    </div>
                    <div class="tabs-content-wrap tf-grid-layout md-col-2" id="portfolio-grid-layout">
                        <div class="new-portfolio-item">
                            <a href="{% static 'images/chididuruGallery/c1.jpg' %}" data-fancybox="gallery" class="img-style">
                                <img decoding="async" loading="lazy" src="{% static 'images/user/avatar.webp' %}"
                                    {% comment %} srcset="images/chididuruGallery/c1.jpg" {% endcomment %}
                                    sizes="(max-width: 582px) 100vw, 582px" width="582" height="388" alt="portfolio">
                            </a>  
                        </div>
                        
                        
                        
                    </div>
                </div>
                <!-- End section-portfolio -->

                <div id="contact" class="section-contact style-1 section spacing-6">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="heading-section mb_44">
                                <div class="tag-heading text-uppercase text-label font-3 letter-spacing-1 mb_33">
                                    Contact
                                </div>
                                <div class="title mb_40">
                                    <h3 class="text_white  fw-5 animationtext clip ">Let's <span
                                            class="tf-text s1 cd-words-wrapper text_primary-color">
                                            <span class="item-text is-visible">Build</span>
                                            <span class="item-text is-hidden">Create</span>
                                            <span class="item-text is-hidden">Develop</span>
                                        </span>
                                        A Better
                                    </h3>
                                    <h3 class="text_white title fw-5 "> Nigeria Together</h3>
                                </div>
                                <div class="heading-title">
                                    <div class="mb_12">
                                        <!-- <h4 class="text_white fw-4 mb_4"><a href="#"
                                                class="hover-underline-link link">chididuru@gmail.com</a></h4> -->
                                        <p class="text-caption-2 text_secondary-color font-3">Born: 12th November 1966 (age 58)
                                        </p>
                                    </div>
                                    <ul class="list-icon d-flex">
                                        <li><a href="#" class="icon-LinkedIn"></a></li>
                                        <li><a href="https://web.facebook.com/profile.php?id=61553848331007" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" class="icon-X"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <form class="form-contact bs-light-mode" action="https://formspree.io/f/xyzbrrkk" method="POST">
                                <div class="d-grid gap_24  mb_24">
                                    <fieldset class="">
                                        <input id="name" type="text" placeholder="Your name" name="name" tabindex="2"
                                            aria-required="true" required="">
                                    </fieldset>
                                    <fieldset class="">
                                        <input class="" type="email" placeholder="Your email" name="email" tabindex="2"
                                            value="" id="email" aria-required="true" required="">
                                    </fieldset>
                                    <fieldset>
                                        <textarea id="message" class="" rows="4" placeholder="Your Message..." name="message"
                                            tabindex="2" aria-required="true" required=""></textarea>
                                    </fieldset>
                                </div>

                                <ul class="list-tag">
                                    <li><a href="#" class="text_white text-body-1 font-3">Guided by integrity, service, and
                                         compassion, Nze Chidi Duru, OON, remains committed to empowering people,
                                          strengthening communities, and building a Nigeria where every citizen can thrive.</a></li>
                                </ul>

                                <div class="button-submit">
                                    <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY_HERE"></div>
                                    <button class="tf-btn style-1 animate-hover-btn" type="submit">
                                        <span>
                                            Send a Message
                                        </span>
                                    </button>
                                    <!-- <div class="button-submit">
                                    <button class="tf-btn style-1 animate-hover-btn" type="submit">
                                        <span>Send a Message</span>
                                    </button>
                                    </div> -->

                                    <!-- Message placeholder -->
                                   <!-- <p id="form-message" style="margin-top:10px;"></p> -->

                                </div>
                                <div class="item-shape">
                                    <img src="{% static 'images/item/small-comet.webp' %}" loading="lazy" decoding="async" alt="item">
                                </div>
                            </form>
                        </div>
                    </div>
                    



                    
                </div>

                <br> <br> <br> 
                <p class="font-3 text_secondary-color text-center">© 2025 Nze Chidi Duru. All Rights Reserved.</p>

                <br> <br> <br> 
            </div>

            <div class="right-bar style-1 d-flex flex-column align-items-center">
                <ul class="list-icon menu-option d-flex flex-column gap_8">
                    <!-- <li><a data-bs-toggle="offcanvas" href="#setting-menu" role="button" aria-controls="setting-menu"><i
                                class="icon-GearSix"></i></a></li> -->
                    <li>
                        <div class="toggle-switch-mode"><i class="icon-Sun"></i></div>
                    </li>
                    
                </ul>
            </div>

        </div>


    </div>
    <!-- /wrapper -->

    <div class="overlay-popup"></div>

    <!-- Start tf-setting-color -->
    <div class="offcanvas offcanvas-bottom popup-setting" id="setting-menu">
        <div class="close-menu" data-bs-dismiss="offcanvas">
            <i class="icon icon-times-solid"></i>
        </div>
        <div class="offcanvas-body ">
            <div class="mb-body">
                <div class="inner">
                    <div class="setting-color-option">
                        <div class="wrap-features">
                            <div class="feature-color tf-setting-color ">
                                <h5 class="font-4 mb_29">Color</h5>
                                <div class="settings-color list-choose"><a href="#;"
                                        class="choose-item link-no-action active"></a>
                                    <a href="#;" class="choose-item link-no-action"></a>
                                    <a href="#;" class="choose-item link-no-action"></a>
                                    <a href="#;" class="choose-item link-no-action"></a>
                                    <a href="#;" class="choose-item link-no-action"></a>
                                    <a href="#;" class="choose-item link-no-action"></a>
                                    <a href="#;" class="choose-item link-no-action"></a>
                                    <a href="#;" class="choose-item link-no-action"></a>
                                </div>
                            </div>
                            <span class="line"></span>
                            <div class="features-background ">
                                <h5 class="font-4 mb_19">Background</h5>
                                <div class="d-flex flex-wrap wrap-feature-bg-item">
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-1.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-1.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v1.html" target="_blank"
                                            class="text-body-1 text_white font-3">Glowing
                                            Digital
                                            Waves</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-2.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-2.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v2.html" target="_blank"
                                            class="text-body-1 text_white font-3">Vibrant
                                            Particle Glow</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-3.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-3.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v3.html" target="_blank"
                                            class="text-body-1 text_white font-3">Cyber
                                            Particle
                                            Waves</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-4.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-4.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v4.html" target="_blank"
                                            class="text-body-1 text_white font-3">Slow-Motion
                                            Particle Wave</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-7.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-7.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v7.html" target="_blank"
                                            class="text-body-1 text_white font-3">Futuristic
                                            Cyber Matrix</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-5.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-5.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v5.html" target="_blank"
                                            class="text-body-1 text_white font-3">Particle
                                            Wave
                                            Form</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-6.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-6.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v6.html" target="_blank"
                                            class="text-body-1 text_white font-3">Looping
                                            Particle Animation</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-8.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-8.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v8.html" target="_blank"
                                            class="text-body-1 text_white font-3">Seamless
                                            Particle Glow</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-9.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-9.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v9.html" target="_blank"
                                            class="text-body-1 text_white font-3">Digital
                                            technology</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-11.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-11.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v10.html" target="_blank"
                                            class="text-body-1 text_white font-3">Dotted
                                            waves
                                            bounce</a>
                                    </div>
                                    <div class="feature-bg-item">
                                        <img src="{% static 'images/landing/feature-bg-10.webp' %}" width="207" height="76"
                                            loading="lazy" decoding="async"
                                            srcset="{% static 'images/landing/feature-bg-10.webp' %} 207w"
                                            sizes="(max-width: 207px) 100vw, 207px" alt="feature-bg">
                                        <a href="home-v11.html" target="_blank"
                                            class="text-body-1 text_white font-3">Solid
                                            Color
                                            Background</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End tf-setting-color -->

    <!-- Javascript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/ScrollSmooth.js' %}"></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'js/SplitText.min.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/handleGsap.js' %}"></script>
    <script src="{% static 'js/splitting.min.js' %}"></script>
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/textanimation.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- /Javascript -->



</body>


<!-- Mirrored from zen-g-seven.vercel.app/{% url 'index' %} by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Jul 2025 22:30:22 GMT -->
</html>